.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  height: 400px;
  width: 100%;
  background-color: #1f2937;
  flex-direction: column;
}

body {
  margin: 0%;
}

#top-header {
  /* background-color: aliceblue; */
  height: 50px;
  width: 100%;
}

#header-logo {
  /* background-color: blueviolet; */
  height: 100%;
  width: 40%;
}

#header-link {
  /* background-color: aqua; */
  height: 100%;
  width: 60%;
  gap: 20px;
}

#hero-part {
  /* background-color: aquamarine; */
  height: 350px;
  width: 100%;
}

#main-hero {
  /* background-color: aquamarine; */
  height: 60%;
  width: 80%;
}

#img-placeholder {
  height: 100%;
  width: 50%;
}

#hero-text {
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: start;
}

#signup-btn {
  height: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}

.light-text {
  color: #f9faf8;
  font-family: Roboto, sans-serif;
}
