.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  height: 400px;
  width: 100%;
  background-color: #1f2937;
  flex-direction: column;
}

body {
  margin: 0%;
}

#top-header {
  /* background-color: aliceblue; */
  height: 50px;
  width: 100%;
}

#header-logo {
  /* background-color: blueviolet; */
  height: 100%;
  width: 40%;
}

#header-link {
  /* background-color: aqua; */
  height: 100%;
  width: 60%;
  gap: 20px;
}

#hero-part {
  height: 350px;
  width: 100%;
}

#hero-text {
  flex-direction: column;
}

.light-text {
  color: #f9faf8;
  font-family: Roboto, sans-serif;
}
